<html>
  <head>
    <title>게시글 수정하기</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>글 수정</h1>
      <form action="/edit/<%= post.id%>" method="post">
        <p>
          <label>제목</label>
          <input type="text" name="title" value="<%= post.title%>" size="100" />
        </p>
        <p>
          <label>작성자</label>
          <input
            type="text"
            name="author"
            value="<%= post.author%>"
            size="100"
          />
        </p>
        <p>
          <label>내용</label>
          <textarea name="content" rows="10"><%= post.content%></textarea>
        </p>
        <button type="submit">저장</button>
        <a class="button" href="/list">목록</a>
      </form>
    </div>
  </body>
</html>
