<html>
  <head>
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>게시글 보기</h1>
      <section>
        <h2><%= post.title%></h2>
        <p><%= post.content%></p>
      </section>
      <a class="button" href="/list">목록</a>
      <a class="button" href="/edit/<%= post.id %>">수정</a>
      <a class="button" href="/delete/<%= post.id %>">삭제</a>
    </div>
  </body>
</html>
